<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>
<div style="text-align:center">
    <img width="200" height="300" src="https://i.pinimg.com/736x/8f/22/f6/8f22f6e1853ef199a0dbc63684af176c.jpg" alt="BABOU">
    <p><a href="https://www.youtube.com/watch?v=Xu6U81rHGgM">Babou</a></p>
  <p><app-contact-info></app-contact-info></p>
<hr>
  <p><app-work-experience></app-work-experience></p>
<hr>
  <p><app-education></app-education></p>
</div>
<app-test-service></app-test-service>